
<h1>Sobre nós</h1>
<p>
  O <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> é um
  <a href="http://www.railstutorial.org/book">Livro</a> e
  <a href="http://screencasts.railstutorial.org/">Série de screencast</a>
  para ensinar desenvolvimento web com
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  Este é o aplicativo de exemplo para o tutorial.
</p>
