<% provide(:title, "Help") %>
<h1>Ajuda</h1>
<p>
  Obter ajuda sobre o Ruby on Rails Tutorial na
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
  Para obter ajuda sobre este aplicativo de exemplo, veja o
  <a href="http://www.railstutorial.org/book">Livro <em>Ruby on Rails Tutorial</em>
  </a>.
</p>
